h2{
    font-size: 4em;
    margin-bottom: 0px;
    margin-top: 0px;
    
}

.wrapper, body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
}

.box{
    background: white;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 50px 100px 50px 100px;
    border-radius: 3px;
}
