<!DOCTYPE html>
<html lang="sv">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../css/style.css" type="text/css" />
    <link rel="stylesheet" href="../css/404.css" type="text/css" />
    
    <link rel="icon" href="/img/logo.png">
    <title>Sidan hittades inte</title>
</head>

<body>
    <div class="wrapper">
        <div class="box card">
            <h2>404: Sidan hittades inte</h2>
            <p>Försök med ett annat nyckelord eller gå tillbaka till startsidan.</p>
            <a href="/index" class="btn">Tillbaka till startsidan</a>
        </div>
    </div>
</body>

</html>
