<!DOCTYPE html>
<html lang="sv">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!--LIBRARIES-->
    <link rel="stylesheet" href="../css/dropzone.css" type="text/css" />
    <link rel="stylesheet" href="../css/cropper.min.css" type="text/css" />
    <!--LIBRARIES END-->
   
    {{ include ('links.html') }}
    <link rel="icon" href="../img/logo.png" type="text/css" />
    <title>Mantorp Gym</title>
    
</head>

<body>
    <div class="header">
        <h1>Instruktörer</h1>
    </div>
    {{ include ('adminMenu.html') }}
    <!--CONTENT-->
    <div class="main-content">
        <!--<h1>INSTRUKTÖRER</h1>-->
        <div class="intro">
            {{ include ('editInstructors.html') }}
        </div>
        <div class="pt-holder">
            {% for active in actives %}
            <div class=" centered">
                <div class="pt card" style="width:18rem;">
                    <img class="card-img-top" src="{{ active.img }}" alt="Card image cap">
                    <hr class="my-4" width="80%">
                    <div class="">
                        <h3 class="pt-name">{{ active.name }}</h3>
                    </div>
                    <hr class="my-4" width="80%">
                    <div>
                        <p class="card-body">{{ active.text }}</p>    
                    </div>
                    
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    {{include ("footer.html")}}
    <!--//CONTENT-->

    <!--JS-->
    <script src="../node_modules/jquery/dist/jquery.min.js"></script>
    <script src="../js/popup.js"></script>
    <script src="../js/accordion.js"></script>
    
    <!--IMAGE UPLOAD-->
    <script src="../js/dropzone.js"></script>
    <script src="../js/cropper.min.js"></script>
    <script src="../js/upload.js"></script>
    <!--//JS-->
</body>

</html>
