<nav>
    <div class="menu-holder">
        <input type="checkbox" class="menu-btn" />
        <!--hamburger icon-->
        <span></span>
        <span></span>
        <span></span>
        <!--END hamburger icon-->
        <div id="menu">
            <img class="logo" src="/img/logo.png" alt="logo">
            <ul class="menu-ul">
                <li><a href="/admin/index">HEM</a></li>
                <li><a href="https://mantorpnew.novasecur.se/bokningv2/publicCalendar.html" target="_blank">PASSCHEMA</a></li>
                <li><a href="/admin/contact">KONTAKT</a></li>
                <li><a hreF="/admin/timesprices">PRISER & ÖPPETTIDER</a></li>
                <li><a href="/admin/training">TRÄNING</a></li>
                <li><a href="/admin/instructors">INSTRUKTÖRER</a></li>
                <li><a href="/admin/pts">PERSONLIG TRÄNARE</a></li>
            </ul>
            <div>
                <h3>Administratöralternativ</h3>
                <ul>
                    <li><a href="/admin/accountManager">Hantera konton</a></li>
                </ul>
            </div>
            <ul class="buttons">

                <form action="/adminLogoutAction">
                    <input id="logout-btn" type="submit" value="Logga ut" />
                </form>
            </ul>
        </div>
    </div>
</nav>
