<!DOCTYPE html>
<html lang="sv">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!--LIBRARIES-->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.4.0/dist/leaflet.css" integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA==" crossorigin="" />
    <link rel="stylesheet" href="../css/leafletStyle.css" type="text/css" />
    <!--LIBRARIES END-->
    
    {{ include ('links.html') }}
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" href="../img/logo.png">
    <title>Mantorp Gym</title>
</head>

<body>
    <div class="header">
        <h1>Kontakt</h1>
        {{include ("menu.html")}}
    </div>
    
    <!--CONTENT-->
    <div class="main-content centered">
        <div class="menu-btn">&#9776;</div>
        <div class="main centered">
            <!--FORM-->
            
            <div class="form card">
                <form action="/sendEmail" class="keepFormData" method="POST">
                    <p>Skicka ett mejl till <a id="black" href="mailto:info@mantorpgym.se">info@mantorpgym.se</a> eller använd formuläret nedan. </p><br>
                    <label for="name_select">Vem vill du kontakta?</label>
                    <select id="name_select" name="name_select">
                        <option value="info@mantorpgym.se">Gymmet</option>
                        <option value="linda@mantorpgym.se">Linda</option>
                        <option value="per@mantorpgym.se">Per</option>
                        <option value="maria@mantorpgym.se">Maria</option>
                    </select>
                    <label for="name_input">Ditt namn:</label>
                    <input type="text" id="name_input" name="name_input" />
                    <label for="email_input">Din email:</label>
                    <input type="text" id="email_input" name="email_input" />
                    <label for="subject_input">Ämne:</label>
                    <input type="text" id="subject_input" name="subject_input" />
                    <label for="message_input">Meddelande:</label>
                    <textarea id="message_input" name="message_input" rows="5" cols="33"></textarea><br>
                    <input type="submit" name="" id="submit" value="SKICKA" />
                    <p>Genom att klicka på "skicka" godkänner du att dina uppgifter lagras. Uppgifterna tas bort när ditt ärende är avklarat.</p>
                </form>

            </div>
        </div>
        <!--FORM END-->
        <!--</div>-->

        <div class="menu-btn">&#9776;</div>
        <div class="map-header">
            <h2>Hitta oss</h2>
        </div>
        <div class="map">
            <div id="mapid"></div>
        </div>
    </div>
    
    {{include ("footer.html")}}

    <!--</div>-->
    <!--//CONTENT-->
    <!--JS-->
    <script src="node_modules/jquery/dist/jquery.min.js"></script>
    <script src="https://unpkg.com/ionicons@4.4.7/dist/ionicons.js"></script>
    <script src="https://unpkg.com/leaflet@1.4.0/dist/leaflet.js" integrity="sha512-QVftwZFqvtRNi0ZyCtsznlKSWOStnDORoefr1enyq5mVL4tmKB3S/EnC3rRJcxCPavG10IcrVGSmPh6Qw5lwrg==" crossorigin=""></script>
    <script src="js/leaflet.js"></script>
    <script src="js/main.js?v=2.1"></script>
    <script src="../js/jquery.keepFormData.min.js"></script>

    <!--//JS-->
</body>

</html>
