<!DOCTYPE html>
<html lang="sv">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!--LIBRARIES-->
    <link rel="stylesheet" href="../node_modules/swiper/dist/css/swiper.min.css" type="text/css" />
    <link rel="stylesheet" href="../css/jquery.fancybox.min.css" type="text/css" />
    <!--LIBRARIES END-->

    <!--<link rel="stylesheet" href="../css/menuStyle.css?v=2.1" type="text/css" />-->
    <!--<link rel="stylesheet" href="../css/swiperStyle.css?v=2.1" type="text/css" />-->
    <!--<link rel="stylesheet" href="../css/adminIndexStyle.css?v=2.1" type="text/css" />-->
    <!--<link rel="stylesheet" href="../node_modules/jcrop/jquery.Jcrop.css" type="text/css" />-->
    <!--<link rel="stylesheet" href="../css/popupStyle.css" type="text/css" />-->
    <!--<link rel="stylesheet" href="../css/editTextStyle.css" type="text/css" />-->
    <!--<link rel="stylesheet" href="../css/indexStyle.css?v=2.1" type="text/css" />-->
    <!--<link rel="stylesheet" href="../css/generalStyle.css?v=2.1" type="text/css" />-->

    {{ include ('links.html') }}
    <link rel="icon" href="../img/logo.png" type="text/css" />
    <title>Mantorp Gym</title>
</head>

<body>
    <!--<div class="wrapper">-->
    <div class="header">
        <h1>Hem</h1>
        {{ include ('menu.html') }}
    </div>

    <!--MAIN CONTENT-->
    <div class="main-content">
        <!--<h1>Startsida</h1>-->
        <!--SWIPER-->
        {{ include ('newsPopup.html') }}
        <div class="swiper-container">
            <div class="swiper-wrapper">
                {% for news in current %}
                <div class="swiper-slide trigger_popup_fricc" onclick="openPopup({{ news.id }});">
                    {% if news.img %}
                    <div class="slide-left">
                        <img class="newsImg" src="{{ news.img }}" alt="">
                    </div>
                    {% endif %}
                    <div class="slide-right">
                        <div class="card-text">
                            <h2>{{ news.title }}</h2>
                            <p >{{ news.text }}</p>
                        </div>
                        <div class="card-footer">
                            <p class="footer-text">Publicerad {{ news.created_at }}</p>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="swiper-pagination"></div>
        </div>
        <!--END SWIPER-->
        {% for content in indexContent %}
        <div class="intro card">
            <div class="intro-text">{{ content.text|raw }}</div>
        </div>
        {% endfor %}
        <!--<div class="card centered" style="width:80%;">-->
        <!--    <img src="../img/100.jpg">-->
        <!--    <p>Mantorp gym är en av de träningsanläggninar som ingår i 100% Ren hårdträning, där träningsanläggningar, polis och kommun samarbetar för en träning mot dopning. Detta innebär att Mantorp gym arbetar aktivt för att vara en dopningsfri anläggning.-->
        <!--        <br><b>POLICY</b><br> Vi har en gemensam policy med de andra gymmen i vårt nätverk, Mjölby Träningsstudio, Lundbybadet, Mjölby Hälsocenter, CrossFit Mjölby, Medius Gym, Fitness4you och Energihuset i Ödeshög. Vår anläggning arbetar aktivt-->
        <!--        för att vara fri från dopning. Vi tar helt avstånd från användande av otillåtna preparat. Vår definition av dopningsmedel är den samma som Lagen om förbud mot vissa dopningsmedel (1991:1969). Vi står för ren och hälsosam träning utan dopningsmedel,-->
        <!--        alkohol och narkotika. Denna policy är känd av vår personal som har gått utbildning i att hantera situationer där misstanke om bruk uppstått.</p>-->
        <!--</div>-->
        <div class="gallery centered">
            {% for image in images %}
            <a data-fancybox="gallery" href="{{image.img}}"><img src="{{image.img}}"></a> {% endfor %}
        </div>
    </div>


    {{include ("footer.html")}}

    <!--</div>-->
    <!--JS-->
    <script src="../node_modules/jquery/dist/jquery.min.js"></script>
    <script src="../node_modules/swiper/dist/js/swiper.min.js"></script>
    <script src="../js/swiper.js?v=2.1"></script>
    <script src="../js/popup.js"></script>
    <script src="../js/jquery.fancybox.min.js"></script>
    <!--//JS-->
</body>

</html>
