<nav>
    <link rel="stylesheet" href="../css/menuStyle.css" type="text/css" />
    <div class="menu-holder">
        <input type="checkbox" class="menu-btn" />
        <!--hamburger icon-->
        <span></span>
        <span></span>
        <span></span>
        <!--END hamburger icon-->
        <div id="menu">
            <!--TA BORT NÄR KLAR-->
            <!--<div class="banner">-->
            <!--    <h1 class="banner-text">Denna sida är under utveckling, och inte Mantorp Gyms hemsida. Gå till</h1>-->
            <!--    <a class="banner-text" href="http://www.mantorpgym.se/Sida.aspx?id=1">www.mantorpgym.se</a>-->
            <!--</div>-->
            <!--<h1>MANTORP GYM</h1>-->
            <img class="logo" src="/img/logo.png" alt="logo">
            <!--SEARCH FORM-->
            <!--<form>-->
            <!--    <div class="search-div">-->
            <!--        <input type="search" placeholder="Sök . . ." name="search" />-->
            <!--        <button type="submit"><img src="../img/ios-search.svg" alt="s-btn"></button>-->
            <!--    </div>-->
            <!--</form>-->
            <!--END SEARCH FORM-->
            <!--MENU LIST-->
            <ul class="menu-ul">
                <li><a href="index">HEM</a></li>
                <li><a href="https://mantorpnew.novasecur.se/bokningv2/publicCalendar.html" target="_blank">PASSCHEMA</a></li>
                <li><a href="kontakt">KONTAKT</a></li>
                <li><a hreF="priser">PRISER & ÖPPETTIDER</a></li>
                <li><a href="training">TRÄNING</a></li>
                <li><a href="instruktor">INSTRUKTÖRER</a></li>
                <li><a href="pts">PERSONLIG TRÄNARE</a></li>
            </ul>
            <ul class="buttons">
                <li><a href="https://mantorp.nsz.se/#" target="_blank">Logga in / Bli medlem</a></li>
            </ul>
            <!--END MENU LIST-->
        </div>
    </div>
</nav>
