<!DOCTYPE html>
<html lang="sv">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge"> {{ include ('links.html') }}
    <link rel="icon" href="/img/logo.png">
    <title>Logga in</title>
</head>

<body class="centered" style="height:100vh">
    <div class="main-content centered login">
        <div class="card">
            <form method="POST" action="/submitNewPassword">
                <input type="hidden" name="email" value={{email}}>
                    <p>Skriv ditt nya lösenord</p>
                    <p>Lösenordet måste innehålla minst 1 stor bokstav, minst 1 siffra, minst ett specialtecken (!,@,& etc.) samt vara minst 6 tecken långt</p>
                    
                    <input type="password" name='password'>
                    <input type="submit" name="submit_password">
                    <p>Om något går fel under återställningsprocessen, testa att klicka på återställningslänken i mailet igen, eller skicka ett nytt mail genom att klicka på "Glömt lösenord" igen</p>
                </form>
        </div>
    </div>
    <script src="../node_modules/jquery/dist/jquery.min.js"></script>
    <script src="../js/jquery.keepFormData.min.js"></script>
</body>

</html>
