<!DOCTYPE html>
<html lang="sv">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge"> {{ include ('links.html') }}
    <link rel="icon" href="/img/logo.png">
    <title>Logga in</title>
</head>

<body class="centered" style="height:100vh">
    <div class="main-content centered login">
        <div class="card">
            <form method="post" action="/sendlink">
              <p>Ange den email-adress du angav vid skapandet av kontot</p>
              <input type="text" name="email">
              <input type="submit" name="submit_email">
            </form>
        </div>
    </div>
    <script src="../node_modules/jquery/dist/jquery.min.js"></script>
    <script src="../js/jquery.keepFormData.min.js"></script>
</body>

</html>
